body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  text-align: center;
}

h1.title {
  color: #4caf50;
}

#game-container, #final-message {
  display: none;
}

#question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#question-text {
  font-size: 1.5rem;
  margin: 20px 0;
}

.button-group button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-group button:hover {
  background-color: #45a049;
}

#moth-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

#final-message h2 {
  color: #4caf50;
  font-size: 2rem;
}

#confetti {
  width: 100%;
  height: 150px;
  margin-top: 20px;
}
